#search-box {
	margin: 15px 10px 0 0;
}

#header li {
	display: inline;
	padding: 15px 10px 0 0 ;
}

#user-profile li:first-child:hover {
	text-decoration: underline;
}

#user-profile li:first-child {
	padding-top: 25px;
}

#user-profile img {
	padding-right: 15px
}

#header img {
	padding-left: 20px;
}

#sidebar {
	padding-left: 25px;
}

#email-label {
	padding-left: 20px;
}

#compose {
	padding-bottom: 20px;
}

#main-labels li:first-child{
	font-weight: bold;
	color: #DD4B39;
}

#email-label {
	font-size: 20px;
	color: #DD4B39;
}

#emails {
	background-color: #F4F4F4;
	padding: 10px;
}

#emails li .from {
	font-weight: bold;
	display: inline;
}

#emails li .subject {
	display: inline;
	font-style: italic;
}


#emails li {
	border-bottom: 1px solid #C1C1C1;
	padding: 5px;
}

.modal-content {
	padding: 20px;
	width: 100%;
}

#blank-email input, textarea {
	padding: 5px;
}

#blank-bottom button {
	margin-right: 10px;
}

#footer {
	font-size: 9px;
}

#usage {
	text-align: left;
}

#brand, #terms {
	text-align: center;
}

#last-activity {
	text-align: right;
}

.starred {
	display: inline;
}